@use '../function' as *;
@use '../mixins' as *;

.footer {
  @include grid();

  &__color-hex{
    cursor: pointer;
    
    &:hover {
      background-color: #1F2937;
      color: #ffffff;
    }
  }
  &__copied {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 200px;
    background: linear-gradient(135deg,#a3eea3,#105a10);
    color: #ffffff;
    padding: rem(20) rem(50);
    border-radius: rem(10);

    @include breakpoints_down {
      left: 95px;
      padding: rem(10) rem(25);
    }
  }
  
  p {
    text-align: center;

    @include breakpoints_down {
      font-size: rem(11);
    }
  }
}