@use '../function' as *;
@use '../mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: rem(10);
  padding: rem(24) rem(20);

  @include breakpoints_down {
    flex-wrap: wrap;
  }
  
  &__input {
    @include heightAndBorderRadius(42,10);
  }

  &__select {
    @include heightAndBorderRadius(42,10);
    flex-grow: 2;
    font-family: 'Inter', sans-serif;
  }
  
  &__button {
    @include heightAndBorderRadius(42,10);
    font-size: rem(12);
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border: none;
    box-shadow: rem(3) rem(3) rem(2) rgba(0, 0, 0, 0.568);
    background-color: #0252C3;
    color: #ffffff;
  }
}