@use '../function' as *;
@use '../mixins' as *;

.main {
  height: rem(404);
  @include grid();

  @include breakpoints_down {
    height: rem(318);
  }

  @media (max-width: rem(300)) {
    height: rem(266);
  }
}
