*,*::after,*::before {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  width: 550px;
  height: 550px;
  border: 2px solid black;
  border-radius: 15px;
  background: white;
  box-shadow: 3px 3px 10px rgba(250, 246, 246, 0.336);
  overflow: hidden;
  position: relative;
}