@use 'function' as *;
@use 'mixins' as *;

*,*::after,*::before {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background: rgba(0, 0, 0, 0.75);
}

.container {
  width: rem(550);
  height: rem(550);
  border: rem(2) solid black;
  border-radius: rem(15);
  background: white;
  box-shadow: rem(3) rem(3) rem(3) rgba(250, 246, 246, 0.336);
  overflow: hidden;
  position: relative;

  @include breakpoints_down {
    width: rem(300);
    height: rem(500);
  }
}