@use 'function' as *;

@mixin grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@mixin heightAndBorderRadius($height,$radius) {
  height: rem($height);
  border-radius: rem($radius);
}

@mixin breakpoints_down {
  @media (max-width: 599px) {
    @content;
  }
  
}